.right-bar {
    width: 30%;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .ads {
        width: 90%;
        background-color: #ffff;
        border-radius: 7px;
        padding: 10px;
        font-size: 1.1rem;
        text-align: start;
        padding-bottom: 30px;
        img {
            width: 100%;
            height: 150px;
            border-radius: 7px;
        }
        .title {
            font-weight: bold;
        }
        a{
            padding: 10px 20px;
            border-radius: 7px;
            background-color: #0f8484;
            text-decoration: none;
            color: #ffff;
            
        }
    }
    .news {
        margin-top: 30px;
        width: 90%;
        background-color: #ffff;
        border-radius: 7px;
        padding: 10px;
        font-size: 1.1rem;
        text-align: start;
        padding-bottom: 30px;
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            border-bottom: 1px solid rgb(231, 229, 229);
            a:nth-child(1) {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding: 15px 10px;
                border-bottom: 1px solid rgb(231, 229, 229);
                display: flex;
                flex-direction: column;
                p {
                    margin: 5px 0;
                }
                span{
                    font-size: .8rem;
                    font-style: italic;
                }
            }
        }
    }
}