.footer {
    width: 90%;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(221, 220, 224);
    color: rgb(129, 127, 127);
    margin-top: 200px;
    font-size: 1rem;
}