.body-home {
    width: 90%;
    display: flex;
    margin: auto;
    color: darkcyan;
    .new-article {
        width: 70%;
        h2 {
            text-align: start;
            font-size: 1.2rem;
        }
    }
    .perfect-article {
        width: 30%;
        h2 {
            text-align: start;
            font-size: 1.2rem;
        }
    }
}