.new-blog {
    box-sizing: border-box;
    width: 60%;
    margin-left: 10%;
    background-color: #ffff;
    padding: 5%;
    .publish-blog {
        padding: 0;
        margin: 0;
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: chocolate;
        font-weight: bold;
        color: #ffff;
        cursor: pointer;
        }
    }
}

@media screen and (max-width: 1000px) {
    .new-blog{
        width: 100%;
        margin: 0;
    }
}