.content-modal {
    h1 {
        color: rgb(7, 149, 231);
        margin: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid orange;
    }
    .submit-close {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            margin-right: 30px;
            padding: 10px 10px;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            cursor: pointer;
        }
        .cancel {
            background: rgb(255, 217, 0);
            color: white;
        }
        .submit {
            background-color: rgb(5, 134, 194);
        }
    }
}