.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        padding: 0;
        margin: 0;
        li {
            background-color: transparent;
            font-size: 1rem;
            margin: 0;
            padding: 5px 10px;
            cursor: pointer;
            color: black;
            border-radius: 0;
            &:hover{
                background-color: rgb(175, 174, 169);
                color: rgb(5, 141, 141);
            }
        }
        li.active {
            border-bottom: 3px solid rgb(5, 149, 185);
            color: rgb(6, 110, 110);
        }
    }
}