.description {
    position: absolute;
    left: 110%;
    top: 0;
    max-width: 800px;
    min-width: 300px;
    color: black;
    display: none;
    text-align: start;
    padding: 0 20px;
    p {
        color: black;
        font-weight: 600;
        font-size: 1.5vw;
    }
    section{
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 1000px) {
    .description {
        left: 0;
        top: 30px;
        z-index: 1000;
        width: 90%;
        background-color: #ffff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding-bottom: 20px;
        min-width: 0;
    }
}