a.item-blog {
    text-decoration: none;
    color: rgb(8, 134, 151);
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: black;
    border-radius: 5px;
}
ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
ul li {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 200px;
    }
    .content{
        .tag{
            display: flex;
            span{
                cursor: pointer;
                font-size: .9rem;
                color: rgb(76, 243, 9);
                padding: 0 5px;
                margin-right: 20px;
                &:hover {
                    color: rgb(8, 134, 151);
                }
            }
        }
        .title{
            font-size: 1.2rem;
            margin: 10px 0;
            color: rgb(76, 243, 9);
        }
        .auth-time {
            display: flex;
            font-size: .8rem;
            color: #ffff;
            padding: 0 5px;
            span {
                margin-right: 20px;
                i {
                    margin-right: 10px;
                    color: rgb(243, 220, 9);
                }
            }
        }
        .short-content {
            font-size: .7rem;
            color: #ffff;
        }
        width: 100%;
        text-align: start;
        overflow: hidden;
        box-sizing: border-box;
        padding: 10px;
        & > button {
            background-color: rgb(255, 196, 0);
            padding: 10px 15px;
            border: 1px solid rgb(255, 187, 0);
            color: white;
            font-weight: 600;
        }
    }
}